h1, p {
  font-family: Lato;
}

#coordinatesOverlay {
  height: 20vh;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: lightgrey;
  
}

.coordinates {
  display: flex;
  flex-direction: row;
}

.mapContainer {
z-index: 100;
}

.maps {
  position: relative;
}